  {
    "extends": [
      "airbnb",
      "prettier",
      "prettier/react"
    ],
    "env": {
      "node": 1
    },
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ],
      "quotes": [
        2,
        "single",
        {
          "avoidEscape": true
        }
      ]
    }
  }